<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>BioNCE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<section>
						<h2>Welcome to BioNCE, an Intelligent Digital System by <a href="http://nequimed.iqsc.usp.br/">NEQUIMED/IQSC/USP</a></h2>
						<p>Bioactive New Chemical Entity.</p>
						<ul class="actions">
							<li><a href="#smiles_section" class="button special">Get started</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="smiles_section" class="wrapper">
				<div class="inner split">
					{% block content %}{% endblock %}
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Contact</h2>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<!-- <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li> -->
							<li class="fa-facebook"><a href="https://www.facebook.com/nequimed.iqscusp.7">facebook.com/nequimed.iqscusp.7</a></li>
							<!-- <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li> -->
							<li class="fa-envelope"><a href="http://nequimed.iqsc.usp.br/">nequimed@iqsc.usp.br</a></li>
							<li class="fa-home">Av. Trabalhador São Carlense, 400<br/>Sao Carlos, SP 13566-590</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; NEQUIMED. All rights reserved. Design: <a href="http://templated.co">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
	</body>
</html>

