                <div class="col-md-3 grid-margin stretch-card">
                    <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                        Binding data
                        <span title="Download SDF" style="float: right;"><a href="https://files.rcsb.org/ligands/view/{{ mol.pdb.id }}_model.sdf"><i class="ti-export"></i></a></span>
                        </h4>
                        <hr/>
                        <script>
                        var stage;
                        document.addEventListener("DOMContentLoaded", function () {
                            stage = new NGL.Stage("viewport");
                            stage.loadFile("https://files.rcsb.org/ligands/view/{{ mol.pdb.id }}_model.sdf", {defaultRepresentation: true});
                        });
                        </script>
                        <div id="viewport" style="width:100%; height:300px;"></div>
                        {% for bindingS in mol.bindings %}
                        <hr/>
                        <p><b>Structure:</b> <a href="http://bindingmoad.org/pdbrecords/index/{{ bindingS[0].proteinID }}" target="_blank">{{ bindingS[0].proteinID }}</a></p>
                        {% for bindingL in bindingS %}
                        <p><b> {{ bindingL.ligand }} </b> (Chain {{ bindingL.chain }})
                            <span style="float: right;">{{ bindingL.affinityMeasure | safe }} {{ bindingL.relationType }} {{ bindingL.affinityValue }} {{ bindingL.affinityUnit }}</span>
                        </p>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    </div>
                </div>