              <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="https://www.rcsb.org/ligand/{{ mol.pdb.id }}" target="_blank">PDB ligand {{ mol.pdb.id }}</a>
                      <span title="Export data" style="float: right;"><a href="https://files.rcsb.org/ligands/view/{{ mol.pdb.id }}_model.sdf"><i class="ti-export"></i></a></span>
                    </h4>
                    <hr />
                    <p><img src="https://cdn.rcsb.org/images/ccd/unlabeled/{{ mol.pdb.id[0] }}/{{ mol.pdb.id }}.svg" width="100px"/></p>
                    <p><b>Name:</b> <span style="float: right">{{ mol.pdb.name }}</span></p>
                    <p><b>Molecular Formula:</b> <span style="float: right">{{ mol.pdb.formula }}</span></p>
                    <p><b>Molecular Weight:</b> <span style="float: right">{{ mol.pdb.weight }}</span></p>
                    <div class="form-group">
                      <label for="structures"><b>Structures:</b></label>
                      <select class="form-control" id="structures">
                        {% for structure in mol.pdb.structures %}
                        <option value="{{ loop.index0 }}">{{structure.id}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <hr />
                    <h4 class="card-title">Structure: <span style="float: right"><a href="https://www.rcsb.org/structure/{{mol.pdb.structures[0].id}}" target="_blank">{{mol.pdb.structures[0].id}}</a></span></h4>
                    <p><b>Description:</b> {{mol.pdb.structures[0].description}}</p>
                    <p><b>DOI:</b> <span style="float: right"><a href="http://doi.org/10.2210/pdb{{mol.pdb.structures[0].id}}/pdb" target="_blank"><i class="ti-link"></i></a></span></p>
                    <p><b>Download:</b> <span style="float: right"><a href="https://files.rcsb.org/download/{{mol.pdb.structures[0].id}}.pdb">{{mol.pdb.structures[0].id}}.pdb</a></span></p>
                    <div class="form-group">
                      <label for="ligands"><b>Ligands:</b></label>
                      <select class="form-control" id="ligands">
                        {% for ligand in mol.pdb.structures[0].ligands %}
                        <option value="{{ loop.index0 }}">{{ ligand }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <hr />
                    <h4 class="card-title">Ligand: <span style="float: right"><a href="https://www.rcsb.org/ligand/{{ mol.pdb.id }}" target="_blank">{{ mol.pdb.id }}</a></span></h4>
                    <a href="https://www.rcsb.org/3d-view/{{mol.pdb.structures[0].id}}?preset=ligandInteraction&sele={{ mol.pdb.id }}" target="_blank"><button type="button" class="btn btn-primary">3D Interactions</button></a>
                  </div>
                </div>
              </div>