<div class="col-md-3 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <a
          href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ mol.pubchem.cid }}"
          target="_blank"
          >PubChem {{ mol.pubchem.cid }}</a
        >
        <span title="Export data" style="float: right;"
          ><a><i class="ti-export"></i></a
        ></span>
      </h4>
      <hr />
      <p>
        Structure:
        <span style="float: right;"
          ><img
            src="https://pubchem.ncbi.nlm.nih.gov/image/imgsrv.fcgi?cid={{ mol.pubchem.cid }}"
        /></span>
      </p>
      <hr />
      <p>Name: <span style="float: right;">{{ mol.pubchem.name }}</span></p>
      <p>
        Molecular Formula:
        <span style="float: right;">{{ mol.pubchem.formula }}</span>
      </p>
      <p>
        Mass: <span style="float: right;">{{ mol.pubchem.mass }} Da</span>
      </p>
      <p>LogP: <span style="float: right;">{{ mol.pubchem.logp }}</span></p>
      <p>
        Heavy atoms:
        <span style="float: right;">{{ mol.pubchem.heavy_atoms }}</span>
      </p>
      <p>
        Atom chiral:
        <span style="float: right;">{{ mol.pubchem.atom_chiral }}</span>
      </p>
      <p>
        Tautomers:
        <span style="float: right;">{{ mol.pubchem.tautomers }}</span>
      </p>
      <p>
        Hydrogen Bond Acceptor:
        <span style="float: right;"
          >{{ mol.pubchem.hydrogen_bond_acceptor }}</span
        >
      </p>
      <p>
        Hydrogen Bond Donor:
        <span style="float: right;">{{ mol.pubchem.hydrogen_bond_donor }}</span>
      </p>
      <p>
        Rotatable Bond:
        <span style="float: right;">{{ mol.pubchem.rotatable_bond }}</span>
      </p>
      <p>
        Polar Surface Area:
        <span style="float: right;">{{ mol.pubchem.polar_surface_area }}</span>
      </p>
      <hr />
      <p>Lista de similares</p>
      <p>Lista de subestruturas</p>
    </div>
  </div>
</div>
