      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="ti-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/smiles">
              <i class="ti-palette menu-icon"></i>
              <span class="menu-title">SMILES</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/molecule">
              <i class="ti-search menu-icon"></i>
              <span class="menu-title">Molecule</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#dbsearch" aria-expanded="false" aria-controls="dbsearch">
              <i class="ti-target menu-icon"></i>
              <span class="menu-title">Disease State</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="dbsearch">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dbsearch?covid"> COVID-19 </a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dbsearch?chagas"> Chagas disease</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/dbsearch?leishmaniasis"> Leishmaniasis </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#doc" aria-expanded="false" aria-controls="doc">
              <i class="ti-write menu-icon"></i>
              <span class="menu-title">Documentation</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="doc">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="manual.html"> User manual </a></li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="nav">
          <span class="menu-title">
            <a href="http://nequimed.iqsc.usp.br/" target="_blank"><img src="images/nequimed-logo.png" width="45%"/></a>
            <a href="http://www.crob.eesc.usp.br/" target="_blank"><img src="images/crob-logo.png" width="45%"/></a>
          </span>
        </ul>
        <ul class="nav">
          <span class="menu-title">
            <a href="http://www5.iqsc.usp.br/" target="_blank"><img src="images/iqsc-usp-logo.png" width="45%"/></a>
            <a href="https://bv.fapesp.br/pt/auxilios/84972/planejamento-sintese-e-atividade-tripanossomicida-de-inibidores-covalentes-reversiveis-da-enzima-cr/" target="_blank"><img src="images/fapesp-logo.png" width="45%"/></a>
          </span>
        </ul>
        <ul class="nav">
          <span class="menu-title">
            <a href="https://prp.usp.br/" target="_blank"><img src="images/prp-usp-logo.png" width="45%"/></a>
          </span>
        </ul>
      </nav>