{% extends "base.html" %}

{% block content %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Simplified Molecular Input Line Entry Specification</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="row stretch-card">
                <div class="card">
                  <div class="card-body" id="jsme-card">
                    <h4 class="card-title">Draw molecule</h4>
                    <p class="card-description"><a href="https://peter-ertl.com/jsme/" target="_blank">JSME Molecular Editor</a> by Peter Ertl and Bruno Bienfait</p>
                    <div id="jsme_container" style="height:400px;"></div>
                    <p></p>
                    <form id="SingleSearch" method="GET" action="/molecule">
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" id="container-search" name="smiles" class="form-control" placeholder="SMILES" aria-label="Digit a SMILES string." required />
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                            <button type="button" class="btn btn-sm btn-primary" onclick="copy_smiles()">Copy SMILES >></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div><p></p></div>
              <div class="row stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Import file</h4>
                    <p class="card-description">Submit a list of SMILES on a file (one SMILES in each line):</p>
                    <form id="FileSearch" method="post" action="#">
                      <div class="form-group">
                        <input type="file" name="smi_file" class="file-upload-default" />
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="No SMILES file selected." />
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                          </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 grid-margin">
              <div class="card border-bottom-0">
                <div class="card-body pb-0">
                  <h4 class="card-title">Type a list</h4>
                  <p class="card-description">Write and search for a list of SMILES.</p>
                  <form id="ListSearch" method="POST" action="/molecule">
                    <div class="form-group">
                      <textarea class="form-control" id="bulk-search" name="smiles" rows="42" aria-label="Digit a sequence of SMILES strings." required></textarea>
                      <button type="reset" class="btn btn-danger" onclick="resetList();">Clear</button>
                      <button type="button" class="btn btn-info" onclick="fillExample();">Load example</button>
                      <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-2 grid-margin">
              <div class="card border-bottom-0">
                <div class="card-body pb-0">
                  <h4 class="card-title">Hints</h4>
                  <p class="card-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                  menu nos exemplos
                  Aspirin 
                  Sildenafil CCCC1=NN(C2=C1N=C(NC2=O)C3=C(C=CC(=C3)S(=O)(=O)N4CCN(CC4)C)OCC)C
                  Rosuvastatin OC(=O)C[C@H](O)C[C@H](O)\C=C\c1c(C(C)C)nc(N(C)S(=O)(=O)C)nc1c2ccc(F)cc2
                  split() and strip()
                  pubchem Related compounds download 7. bioactivity
                  chembl similarity and substructure download
                </div>
              </div>
            </div>
          </div>
        </div> <!-- content-wrapper ends -->
{% endblock %}

{% block scripts %}
  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>

  <!-- inject:js -->
  <script src="javascripts/template.js"></script>

  <!-- Custom js for this page-->
  <script src="static/js/file-upload.js"></script>
  <script type="text/javascript" language="javascript" src="https://peter-ertl.com/jsme/JSME_2017-02-26/jsme/jsme.nocache.js"></script>
  <script>
    // This function will be called after the JavaScriptApplet code has been loaded.
    function jsmeOnLoad() {
      var jsmeWidth = document.getElementById("jsme_container").clientWidth + "px";
      jsmeApplet = new JSApplet.JSME("jsme_container", jsmeWidth, "400px" );
      jsmeApplet.setNotifyStructuralChangeJSfunction( "show_smiles" );
    }
    function show_smiles() {
      document.getElementById("container-search").value = jsmeApplet.smiles();
    }
    function copy_smiles() {
      if ( document.getElementById("bulk-search").innerHTML != "" ) {
        document.getElementById("bulk-search").innerHTML = document.getElementById("bulk-search").innerHTML + "\n" + document.getElementById("container-search").value;
      } else {
        document.getElementById("bulk-search").innerHTML = document.getElementById("container-search").value;
      }
    }
    function resetList() {
      document.getElementById("bulk-search").innerHTML = "";
    }
    function fillExample() {
      if ( document.getElementById("container-search").value == "" ) {
        document.getElementById("container-search").value = "CC(=O)OC1=CC=CC=C1C(=O)O";
      }
      if ( document.getElementById("bulk-search").innerHTML == "" ) {
        document.getElementById("bulk-search").innerHTML = "CC(=O)OC1=CC=CC=C1C(=O)O\nCCCC1=NN(C2=C1N=C(NC2=O)C3=C(C=CC(=C3)S(=O)(=O)N4CCN(CC4)C)OCC)C\nOC(=O)C[C@H](O)C[C@H](O)\C=C\c1c(C(C)C)nc(N(C)S(=O)(=O)C)nc1c2ccc(F)cc2";
      }
    }
  </script>
{% endblock %}
